@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary display-4">Welcome</h1>
    <p> ASP.NET Core MVC "Bulky Book"" Project </p>
    <hr />
    <p> The main Gole of this Web App is about "getting, Adding, Editing and Deleting" Data (CURD), And about how the "Controllers, Models and Views" work thogather in MVC enviroment. </p>
    <p>Thanks for Visiting.</p>
</div>
